package ${entityPackage};

import java.io.Serializable;

/**
 *
 * @author advanced-s2jdbc-gen
 * 
 */
@javax.persistence.MappedSuperclass
public abstract class ${meta.abstractEntityName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach(${column} in ${meta.table.columnList})
    /** ${column.columnName} */
#if(${column.primaryKey})
    @javax.persistence.Id
#end
#if(${column.autoincrement})
    @javax.persistence.GeneratedValue(strategy = javax.persistence.GenerationType.IDENTITY)
#end
    ${column.columnAnnotation}
#if(${column.temporal})
    @javax.persistence.Temporal(javax.persistence.TemporalType.${column.temporal})
#end
    public ${column.javaType} ${column.fieldName};

#end

#foreach(${column} in ${meta.table.columnList})
#if(${column.referencedModel})
    @javax.persistence.ManyToOne
    @javax.persistence.JoinColumn(name = "${column.columnName}")
    public ${column.referencedModel.entityName} ${column.referenceFieldName};

#end
#end

}