package ${packageConcrete};

import javax.persistence.Entity;
import javax.persistence.Table;

import ${packageAbstract}.${meta.abstractEntityName};

/**
 *
 * @author play-model-gen
 *
 */
@Entity
@Table(name = "${meta.table.name}")
public class ${meta.entityName} extends ${meta.abstractEntityName} {

    /**
     * 指定したIDに一致し、論理削除されていないレコードを返します。
     * @param id ID
     * @return 結果
     */
    public static ${meta.entityName} findAliveById(long id) {
        java.util.List<${meta.entityName}> result = find("id = ? AND del = 0", id).fetch();
        return result.isEmpty() ? null : result.get(0);
    }
    
    /**
     * 論理削除されていないレコードを全件取得します。
     * @return 結果
     */
    public static java.util.List<${meta.entityName}> findAliveAll() {
        return find("id = ? AND del = 0").fetch();
    }

    // @OneToMany area
}